{% extends 'base.html.twig' %}

{% block title %}Admin page{% endblock %}

{% block body %} 
    <section class="content-section">
        <div class="container">
            <h1>{{ title }}</h1>
            <div>{{ content }}</div>
        </div
    </section>
{% endblock %}