<header class="header">
    <div class="container"> 
        <div class="row">
            <div class="col-md-4 col-8 logo">
                <a href="/">
                    <img src="{{ asset('assets/images/site/logo.png') }}" alt="Site name" title="Site name"/>
                </a>
            </div>
            <nav class="col-md-8 col-4 header-menu">
                <a href="#" class="toggle-menu" title="Toggle menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
                <ul>
                    <li class="header-menu-item--active">
                        <a href="#home" title="Home">Home</a>
                    </li>
                    <li>
                        <a href="#news" title="News">News</a>
                    </li>
                    <li>
                        <a href="#testimonials" title="Testimonials">Testimonials</a>
                    </li>
                    <li>
                        <a href="#contacts" title="Contacts">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
