<section class="content-section hero-banner hero-banner--dark" style="background-image: url({{ asset('assets/images/backgrounds/hero-banner-bg.jpg') }})">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="hero-banner-content">
                    <h1 class="hero-banner-title">Donec elementum, augue id consequat feugiat</h1>
                    <div class="hero-banner-description">Quisque dictum, metus nec pulvinar bibendum, lorem risus mollis lorem, nec ornare tortor neque sed mi. Proin eget scelerisque magna, sed porta ipsum. Nulla eu ligula hendrerit, interdum tellus sit amet, mollis ligula.</div>
                    <div class="btn-wrap">
                        <a href="#" class="btn btn--base btn--md" title="Read More" targe="_blank">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
