<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony Temlate{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/bootstrap/bootstrap-grid.min.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <div id="main">
            {% block header %} 
                {% include 'global/header.html.twig' %}
            {% endblock %}
            
            <div id="main-content">
                {% block body %}{% endblock %}
            </div>
            
            {% include 'global/footer.html.twig' %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
